body{
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%,  rgba(253,29,29,1) 50%, rgba(131,58,180,1) 100%);
    /* background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
}

.header{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    border: solid blue 5px;
}

h1{
    margin-left: 40%; 
}

.something{
    font-variant: small-caps;
    text-align: center;
}
.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    /* background-color: black; */
    font-family: fantasy;
}

.games h4{
    color:white;
    font-size: 20px;
    font-family:'Arial Narrow Bold';
    text-align: center;
}

.pro{
    background-color: black;  
    margin-bottom: 30px;
    position: relative;
    border-radius: 25px;
    border: 10px solid transparent;
    padding: 15px;
 } 
 
.menu{
    display: flex;
    justify-self: flex end;
}

.menu a{
    margin: 30px;
}
 
a:visited{
    color: rgb(116, 2, 116);
    background-color: cyan;
}

a:link{
    color: rgb(216, 55, 55);
    background-color: yellow;
}

a:hover {
    color: rgb(226, 43, 156);
    text-decoration: underline;
    background-color: lightgreen;
}


a:active {
    color: blue;
  }

.pro h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: large;
    color: white;
} 

.pro:hover h4{
    opacity: 1;
}

.pro:hover img{
    opacity: 0.4;
}

.games image{
    border: 10px solid black;
    border-radius: 25px;
}